altgraph==0.17.4
async-generator==1.10
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
chromedriver-autoinstaller-fix==1.0.3
cryptography==36.0.1
docopt==0.6.2
h11==0.13.0
idna==3.3
numpy==1.24.2
outcome==1.1.0
packaging==23.2
pefile==2023.2.7
Pillow==9.5.0
prompt-toolkit==3.0.28
pycparser==2.21
pyflakes==2.4.0
Pygments==2.11.2
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pyOpenSSL==22.0.0
PySocks==1.7.1
pywin32==306
pywin32-ctypes==0.2.2
requests==2.27.1
selenium==4.15.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
termcolor==1.1.0
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
wcwidth==0.2.5
winshell==0.6
wsproto==1.0.0
